<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center footer-links">
          {{ range .Site.Data.beautifulhugo.social.social_icons }}
            {{- if isset $.Site.Author .id }}
              <li>
                <a href="{{ printf .url (index $.Site.Author .id) }}" title="{{ .title }}">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa {{ .icon }} fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            {{- end -}}
          {{ end }}
          {{ if .Site.Params.rss }}
          <li>
            <a href="{{ .RSSLink }}" title="RSS">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{ end }}
        </ul>
        <p class="credits copyright text-muted">
          {{ if .Site.Author.name }}
            {{ if .Site.Author.website }}
              <a href="{{ .Site.Author.website }}">{{ .Site.Author.name }}</a>
            {{ else }}
              {{ .Site.Author.name }}
            {{ end }}
          {{ end }}

          &nbsp;&bull;&nbsp;
          {{ .Site.LastChange.Format "2006" }}

          {{ if .Site.Title }}
            &nbsp;&bull;&nbsp;
            <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
          {{ end }}
        </p>
        <!-- Please don't remove this, keep my open source work credited :) -->
        <!-- <p class="credits theme-by text-muted"> -->
        <!--   {{ i18n "poweredBy" . | safeHTML }} -->
        <!--   {{ with .Site.Params.commit }}&nbsp;&bull;&nbsp;[<a href="{{.}}{{ getenv "GIT_COMMIT_SHA" }}">{{ getenv "GIT_COMMIT_SHA_SHORT" }}</a>]{{ end }} -->
        <!-- </p> -->
      </div>
    </div>
  </div>
</footer>

<!-- search js start -->
<!-- modules -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js" integrity="sha256-FtWfRI+thWlNz2sB3SJbwKx5PgMyKIVgwHCTwa3biXc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>

<script>
let vuesearch = new Vue({
    el: '#search', // div ID
    data: {
        txt: '', // will contain the text written by user
        timeoutID: 0, // used to detect when the user stopped typing
        showresult: false, // show the result dropdown, or not
        result: {}, // results to display, as JSON : {[ {"url":"", "title":""},..] }
        bdd: [] // will contain the full JSON file created by HUGO
        },
    mounted: function() {
        // loading the full JSON to 'bdd'
        axios.get('{{ with .Site.GetPage "/search.md" }}{{ .Permalink }}{{ end }}')
        .then(function (response) {
            vuesearch.bdd = response.data.results;
            })
        .catch(function (error) {
            console.log(error);
            });
        },
    methods: {
        close: function() {
            // Close the dropdown when the input search loses focus
            // with a 300ms delay to let time for the click on link to work
            setTimeout(function() {
                vuesearch.showresult = false;
                vuesearch.txt = '';
                }, 300);
            },
        search: function() {
            // we will search when the user stopped typing for 500ms
            clearTimeout(this.timeoutID);
            this.timeoutID = setTimeout(this.dosearch, 500);
            },
        dosearch: function() {
            // do the search in the 'bdd'
            this.result = []; // clear previous result
            let words = this.txt.split(' '); // split typed text with spaces
            let words2 = []; // words that will be searched
            words.forEach(function(element) { // to skip empty words, if multiple spaces typed (i.e "a  b c")
                if(element) {words2.push(element);}
                });
            let r;
            let resultmp;
            words2.forEach(function(e) { // for each word
                r = vuesearch.bdd.filter(p => p.content.indexOf(e.toLowerCase()) !== -1);
                if(vuesearch.result.length===0) {vuesearch.result = r.slice(); return;}
                resultmp = [];
                vuesearch.result.forEach(function(all1) {
                    r.forEach(function(all2) { // we want AND for words
                        if(all1.url===all2.url) {resultmp.push(all1);}
                        });
                    });
                vuesearch.result = resultmp.slice();
                });
            this.result = this.result.slice(0, 10); // 10 results max
            this.showresult = (this.result.length>0); // show results if we have one or more
            } // dosearch
        } // methods
    }); // Vue
</script>
<!-- search js end -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js" integrity="sha384-/y1Nn9+QQAipbNQWU65krzJralCnuOasHncUFXGkdwntGeSvQicrYkiUBwsgUqc1" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/contrib/auto-render.min.js" integrity="sha384-dq1/gEHSxPZQ7DdrM82ID4YVol9BYyU7GbWlIwnwyPzotpoc57wDw/guX8EaYGPx" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{{ "js/main.js" | absURL }}"></script>
{{- if (not ( .Site.Params.UseChroma )) }}
<script src="{{ "js/highlight.min.js" | absURL }}"></script>
<script> hljs.initHighlightingOnLoad(); </script>
{{- end -}}
<script> renderMathInElement(document.body); </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js" integrity="sha256-UplRCs9v4KXVJvVY+p+RSo5Q4ilAUXh7kpjyIP5odyc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js" integrity="sha256-PWHOlUzc96pMc8ThwRIXPn8yH4NOLu42RQ0b9SpnpFk=" crossorigin="anonymous"></script>
<script src="{{ "js/load-photoswipe.js" | absURL }}"></script>
<!-- Google Custom Search Engine -->
{{ if .Site.Params.gcse }}
<script>
  (function() {
    var cx = '{{ .Site.Params.gcse }}';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
{{ end }}

{{- partial "footer_custom.html" . }}
